<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css" type="text/css">
    <title>Home Page</title>
</head>
<body>
<div id="main-header" class="jumbotron">
    <div class="card text-center">
        <div id="header1" class="card-header">
           <img id="image1" src="images/logo2.png" alt="logo">
            <h1>Sun City Wine Tours</h1>
            <div id="nav-header" class="card-header">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                        <a class="navbar-brand" href="home">Home</a>
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    About Us
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Reservations 2</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="wineries">Wineries</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" tabindex="-1" aria-disabled="false">Gallery</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="reservations" tabindex="-1" aria-disabled="false">
                                    Reservations</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="card-body row">
            <div class="col-sm-8 border-right ">
                <h1 class="card-title">Yakima Wine Tours</h1>
                <img class="img-fluid" src="images/about-us.jpg" alt="About Us Photo">
                <hr>
                <p class="card-text text-left">Our owners shared a glass of Merlot at a Washington winery. Savoring the
                    rich flavors and scenic view, they thought how others might enjoy the Valley's wineries without
                    having to drive themselves. An idea was started to form a wine tour company, and specialize in
                    taking guests on custom private wine tours of the region.
                </p>

                <p class="card-text text-left">We wanted our tours to be led by guides that were educated in wine and
                    really knew the area. We put together a custom package where guests are taken to their choice of
                    the wineries in Yakima and Prosser, such as <strong><em>Bonair, Wineglass Cellars, Cultura, Silver
                        Lake Winery, Two Mountains,
                        and more</em></strong>.
                </p>

                <p class="card-text text-left">The tour includes transportation, exclusive cellar tours, along with driver, mini-van
                    and gas so you don't have to worry about extra charges through the day.
                </p>

                <p class="card-text text-left">If you are a wine enthusiast or just out for a fun day, we'd love to show you our area
                    and introduce you to the outstanding wines of the Yakima APA."
                </p>
                <div class="row">
                    <div class="col-sm-6">
                        <hr>
                        <h1 class="card-title">Western Yakima Wineries</h1>
                        <a href="wineries"><img class="img-fluid" src="images/western-winery.jpg" alt="Claar Cellars photo"></a>
                    </div>
                    <div class="card-body col-sm-6">
                        <h6 class="text-left" id="historical-info">
                            Yakima Valley was the first officially-designated appellation in Washington State, gaining
                            <strong>American Viticultural Area</strong> (AVA) status on <em>May 4, 1983</em>.
                            The valley follows the Yakima river from <em>Union Gap</em>, at its western edge, to the
                            flanks of <em>Red Mountain</em>, its
                            prestigious eastern sub-AVA.
                        </h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">

                    </div>
                    <div class="col-sm-6">
                        <hr>
                        <h1 class="card-title">Eastern Yakima Wineries</h1>
                        <a href="wineries"><img class="img-fluid" src="images/PrettyTR.jpg" alt="Hogue Cellars photo"></a>

                    </div>
                </div>
            </div>
            <div class="col-sm-4 ">
                <h1>Testimonials: <em>What our guests say...</em></h1>
                <hr>
                <img class="img-fluid" src="images/de.jpeg" alt="Kenneth and Diane Banks">
                <blockquote class="blockquote text-justify">I wanted to drop a line to let you know what a fantastic time we had on
                    our wine tour. Phillip went above and beyond every step of the way.
                    <footer class="blockquote-footer">Kenneth and Diane Banks
                        <cite title="Source Title">From Portland, Oregon</cite>
                    </footer>
                </blockquote>
                <hr>
                <img class="img-fluid"  src="images/wine_tasting.jpg" alt="Maria and Garth Nichols">
                <blockquote class="blockquote text-justify">
                    We wanted to let you know we had the BEST TIME on your tour.
                    <footer class="blockquote-footer">Maria and Garth Nichols
                        <cite title="Source Title">From San Diego, CA</cite>
                    </footer>
                </blockquote>
                <hr>
                <img class="img-fluid" src="images/eddie.kate.jpg" alt="Emily and Richard Huff">
                <blockquote class="blockquote text-justify">
                    After spending 3 weeks in the Yakima, my husband and I are convinced that your tour is the greatest
                    bargain in the area. We went to 5 wineries, 1 vineyard, saw incredible views of the valley, and had
                    an outstanding summer picnic.
                    <footer class="blockquote-footer">Emily and Richard Huff
                        <cite title="Source Title">From Richland, Washington</cite>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>