<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Order Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="styles/styles.css" type="text/css">

</head>
<body>

<div class="container" id="main-header">
    <nav class="navbar navbar-secondary" id="navigation">
        <a href="home" name="link"><-Home</a>
    </nav>
    <div class="text-center"><h1 id="headtext">Order details for {{ @order['fname']}}..</h1>
        <div class="jumbotron">
            <div class="border border-dark">
                <div class="row">
                    <div class="offset-md-2 col-md-8">
                        <p>Name: {{ @order['fname']}} {{ @order['lname']}} <br>
                            Contact Information: {{ @order['email'] }}  {{ @order['phone'] }}<br>
                            Tour-date: {{ @order['tour_date']}} <br>
                            start-time: {{ @order['start_time']}}<br>
                        <form action="update-opportunity.php" method="get">
                            <button class="btn btn-outline-dark float-left" name="edit" value="84">Edit</button>
                        </form>
                        <form action="delete-opportunity.php" method="get">
                            <button class="btn btn-outline-dark" name="Delete" value="84">Delete</button>
                        </form>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
    </div>
</div>
</body>
</html>





