<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css" type="text/css">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
          integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <title>Home Page</title>
</head>
<body>
<div id="main-header" class="jumbotron">
    <div class="card text-center">
        <div id="header1" class="card-header">
            <img id="image1" src="images/logo2.png" alt="logo">
            <h1>Sun City Wine Tours</h1>
            <div id="nav-header" class="card-header">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                        <a class="navbar-brand" href="home">Home</a>
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    About Us
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Reservations 2</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="wineries">Wineries</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" tabindex="-1" aria-disabled="false">Gallery</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="reservations" tabindex="-1" aria-disabled="false">
                                    Reservations</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="card-body row winery">
        <div class="col-sm-5 text-center">
            <h1 class="card-title text-center">Western Yakima</h1>
            <div class="row text-left">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Agate Field Vineyard</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>April thru 2nd week in December Friday-Sunday, 11 - 5
                </p>
            </div>
            <div class="row text-left">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Bonair Winery</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>Daily 10am to 5pm. except...
                    Dec thru Feb open weekends or by chance</p>
            </div>
            <div class="row text-left">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Claar Cellars Tasting Room</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>Daily 10-6</p>
            </div>
            <div class="row text-left">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Desert Hills Winery</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>Daily from noon to 5 p.m.</p>
            </div>
            <div class="row text-left">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Donitelia Winery</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>Friday, 4 - 7 pm; Saturday, noon - 5 pm;
                Event weekends & by appointment
                </p>
            </div>
            <div class="row text-left">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Eaton Hill Winery</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>Summer: 10 to 5 daily, except Thurs.
                Winter, Dec and Jan, daily 12 - 4, except Thurs
                </p>
            </div>
            <div class="row text-left">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Horizon's Edge Winery</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>Thurs thru Monday 11 to 5;
                Tues & Wed by chance. Closed Dec thru Feb; Open Presidents Day Weekend 10 am - 5 pm
                </p>
            </div>
            <div class="row text-left">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Hyatt Vineyards Winery</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>Daily 11am to 5pm; Winter, until 4:30</p>
            </div>
            <div class="row text-left">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Kana Winery</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>Noon - 6:30 PM Mon - Sat
                Noon - 5 PM Sun
                </p>
            </div>
            <div class="row text-left">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Maison De Padgett Winery</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>Thurs thru Mon 11am to 5pm;
                Tues & Wed by chance;
                Dec thru Feb by appointment
                </p>
            </div>
            <div class="row text-left">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Masset Winery</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>Feb thru  Nov: Thurs - Mon
                11 - 5 weekends; Noon - 4:30 weekdays
                </p>
            </div>
            <div class="row text-left">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Paradisos Del Sol</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>Daily from 11am - 5pm</p>
            </div>
            <div class="row text-left">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Piety Flats Winery</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>Apr 1st - Oct 31st:  Daily 10am to 6pm;
                Nov 1st - Dec 24th: Daily 10am to 5pm
                Jan 1st - March 31st: Sat & Sun 12 to 5pm
                </p>
            </div>
            <div class="row text-left">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Portteus Vineyards & Winery</h6><i class='fas fa-wine-bottle'></i><br>
                <p>Mon - Friday 10am to 5pm;
                    Sat 11 to 5pm; Sun 12 to 4:30pm
                </p>
            </div>
            <div class="row text-left">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Running Springs Winery</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>Apr - May, weekends, 10 - 5;
                    Jun - Oct, daily, 10 - 5
                </p>
            </div>
            <div class="row text-left">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Sagelands Winery</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>Daily 10am to 5pm; Winter 10am - 4pm</p>
            </div>
            <div class="row text-left">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Selah Heights</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>Saturdays 10 am - 5pm, Sundays 1 - 5pm
                    or by appointment</p>
            </div>
            <div class="row text-left">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Sheridan Vineyards</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>Friday, 4 - 7 pm; Saturday, noon - 5 pm;
                Event weekends & by appointment
                </p>
            </div>
            <div class="row text-left">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Silver Lake Winery at Roza Hills</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>Daily: Dec - Mar, 11 - 4;  Apr - Nov, 10 - 5
                </p>
            </div>
            <div class="row text-left">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Two Mountain</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>President's Day weekend thru Nov.
                Daily 10 - 6 and by appointment
                </p>
            </div>
            <div class="row text-left">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Windy Point Vineyards</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>Feb - Nov: Thurs - Mon, 10 to 5 pm
                    Dec - Jan: Weekends, 10 - 5
                </p>
            </div>
            <div class="row text-left">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Yakima Cellars</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>Tues - Fri: 12 - 5pm
                Sat & Sun: 11am - 5pm, or by appt
                </p>
            </div>
        </div>
        <div class="col-sm-2">

        </div>
        <div class="col-sm-5" id="eastern-wineries">
            <h1 class="card-title text-center">Eastern Yakima</h1>
            <div class="row">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Alexandria Nicole Cellars</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>
                    Tasting Room Open Daily: 11 - 5
                    Tapas Café serves:
                    Thurs - Sun, 11 a.m. - 4 p.m.
                </p>
            </div>
            <div class="row">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Apex Cellars</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>
                    Daily 10 - 6)
                </p>
            </div>
            <div class="row">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Bridgman</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>
                    9 - 5 Daily
                </p>
            </div>
            <div class="row">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Bunnell Family Cellar</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>
                    Call to arrange a visit. 509-973-4187
                </p>
            </div>
            <div class="row">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Chinook Wines</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>
                    May - Oct, Sat & Sun 12 - 5
                </p>
            </div>
            <div class="row">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Columbia Crest Horse Heaven Hills</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>
                    Daily 10 - 4:30; closed major holidays
                </p>
            </div>
            <div class="row">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Cowan Vineyards</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>
                    Thur - Mon, 10 - 5
                </p>
            </div>
            <div class="row">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Desert Wind Winery</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>
                    Open Daily :
                    Oct - Apr, 11 - 5 pm
                    May - Sept, 10 - 5 pm
                </p>
            </div>
            <div class="row">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Hinzerling Winery</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>
                    March - Christmas, most holiday weekends:
                    Mon. - Sat. 11am - 5pm, Sun. 11am - 4pm;
                    Winter: Mon. - Sat. 11am - 5pm Closed Sun
                </p>
            </div>
            <div class="row">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Hogue Cellars</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>
                    Presidents’ Weekend through Dec 31st,
                    - except major holidays, Daily 10 to 5.
                    Call for Winter hours.
                </p>
            </div>
            <div class="row">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Kestrel Wines</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>
                    10am - 5pm daily
                </p>
            </div>
            <div class="row">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Manchego Real</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>
                    Daily 10 - 4, or by appointment
                </p>
            </div>
            <div class="row">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Masquerade Wine Company</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>
                    Wed - Sun: 11 AM to 5 PM
                    at The Winemaker's Loft
                </p>
            </div>
            <div class="row">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Michael Florentino</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>
                    At the Winemaker's Loft.
                    Open, Fri - Sun, 11 am to 6 pm
                </p>
            </div>
            <div class="row">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Vintners Village: Pontin del Roza</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>
                    Daily 10am to 5pm
                </p>
            </div>
            <div class="row">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Snoqualmie Vineyards</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>
                    Daily 10:00 a.m. to 5:00 p.m.
                </p>
            </div>
            <div class="row">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Steppe Cellars</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>
                    April - Nov: Thurs - Mon, 10 - 5, Sat, 10 - 7
                </p>
            </div>
            <div class="row">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Tefft Cellars</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>
                    Daily 10am to 5pm,, except major holidays;
                    January, by appointment
                </p>
            </div>
            <div class="row">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Thurston Wolfe Winery</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>
                    Thurs - Sun April 1st - 2nd weekend in Dec,
                    Also Holiday Mondays - 11:00 am to 5:00 pm
                    By appointment in Winter
                </p>
            </div>
            <div class="row">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Vintners Village: Tucker Cellar</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>
                    Summer: daily 10am - 5pm;
                    Winter: daily 10am - 4pm
                </p>
            </div>
            <div class="row">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">VineHeart</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>
                    Thursday - Monday,  9 to 5
                </p>
            </div>
            <div class="row">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Waddle Family Cellars</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>
                    Sat - Sun, 10 - 5
                </p>
            </div>
            <div class="row">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name"> Vintners Village: Willow Crest Winery</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>
                    Daily: 10:00 a.m. to 5:00 p.m.
                </p>
            </div>
            <div class="row">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Vintners Village: The Winemaker's Loft</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>
                    Daily, 10am – 5pm
                    Closed Thanksgiving, Christmas & New Years
                    Fri - Sun, 11 am to 6 pm
                </p>
            </div>
            <div class="row">
                <i class='fas fa-wine-bottle'></i><h6 class="winery-name">Yakima River Winery</h6>
                <i class='fas fa-wine-bottle'></i><br>
                <p>
                    Daily, 10am – 5pm
                    Closed Thanksgiving, Christmas & New Years
                </p>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>