<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css" type="text/css">
    <title>Home Page</title>
</head>
<body>
<div id="main-header" class="jumbotron">
    <div class="card text-center">
        <div id="header1" class="card-header">
            <img id="image1" src="images/logo2.png" alt="logo">
            <h1>Sun City Wine Tours</h1>
            <div id="nav-header" class="card-header">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                        <a class="navbar-brand" href="home">Home</a>
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    About Us
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="wineries">Wineries</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" tabindex="-1" aria-disabled="false">Gallery</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="reservations" tabindex="-1" aria-disabled="false">
                                    Reservations</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!--  <img class="scale-down" src="images/suncitywinetours.jpg" class="card-img-top" alt="...">-->
        </div>
    </div>
    <div class="card-body row">
        <div class="col-sm-6 border-right">
            <h1 class="card-title text-center">Western Yakima</h1>
            <div class="row text-center">
                <a href="http://www.agatefield.com/" target="_blank"><h6><strong>Agate Field Vineyard<br></strong></h6></a>
                <p>Hours:<em>April thru 2nd week in December Friday-Sunday, 11 - 5</em></p>
            </div>
            <div class="row">
                <h6><a href="http://www.bonairwine.com/" target="_blank"><strong>Bonair Winery</strong></a></h6>
                <p>Hours: Daily 10am to 5pm. except...
                    Dec thru Feb open weekends or by chance</p>
            </div>
            <div class="row">
                <h6><a href="https://www.claarcellars.com/" target="_blank">
                    <strong>Claar Cellars Tasting Room</strong></a></h6>
                    <p>Hours: Daily 10-6</p>
            </div>
            <div class="row">
                Desert Hills Winery
                (Daily from noon to 5 p.m.)
            </div>
            <div class="row">
                Donitelia Winery
                (Friday, 4 - 7 pm; Saturday, noon - 5 pm;
                Event weekends & by appointment)
            </div>
            <div class="row">
                Eaton Hill Winery
                (Summer: 10 to 5 daily, except Thurs.
                Winter, Dec and Jan, daily 12 - 4, except Thurs)
            </div>
            <div class="row">
                Horizon's Edge Winery
                (Thurs thru Monday 11 to 5;
                Tues & Wed by chance. Closed Dec thru Feb;
                Open Presidents Day Weekend 10 am - 5 pm)
            </div>
            <div class="row">

                Hyatt Vineyards Winery
                (Daily 11am to 5pm; Winter, until 4:30)
            </div>
            <div class="row">
                Kana Winery
                (Noon - 6:30 PM Mon - Sat
                Noon - 5 PM Sun)
            </div>
            <div class="row">
                Maison De Padgett Winery
                (Thurs thru Mon 11am to 5pm;
                Tues & Wed by chance;
                Dec thru Feb by appointment)
            </div>
            <div class="row">
                Masset Winery
                (Feb thru  Nov: Thurs - Mon
                11 - 5 weekends; Noon - 4:30 weekdays)
            </div>
            <div class="row">

                Paradisos Del Sol
                (Daily from 11am - 5pm)
            </div>
            <div class="row">

                Piety Flats Winery
                (Apr 1st - Oct 31st:  Daily 10am to 6pm;
                Nov 1st - Dec 24th: Daily 10am to 5pm
                Jan 1st - March 31st: Sat & Sun 12 to 5pm)
            </div>
            <div class="row">

                Portteus Vineyards & Winery
                (Mon - Friday 10am to 5pm;
                Sat 11 to 5pm; Sun 12 to 4:30pm)
            </div>
            <div class="row">

                Running Springs Winery
                (Apr - May, weekends, 10 - 5;
                Jun - Oct, daily, 10 - 5)
            </div>
            <div class="row">
                Sagelands Winery
                (Daily 10am to 5pm; Winter 10am - 4pm)
            </div>
            <div class="row">
                Selah Heights
                (Saturdays 10 am - 5pm, Sundays 1 - 5pm
                or by appointment)
            </div>
            <div class="row">
                Sheridan Vineyards
                (Friday, 4 - 7 pm; Saturday, noon - 5 pm;
                Event weekends & by appointment)
            </div>
            <div class="row">
                Silver Lake Winery at Roza Hills
                (Daily: Dec - Mar, 11 - 4;  Apr - Nov, 10 - 5)
            </div>
            <div class="row">
                Two Mountain
                (Presiden's Day weekend thru Nov.
                Daily 10 - 6 and by appointment)
            </div>
            <div class="row">
                Windy Point Vineyards
                (Feb - Nov: Thurs - Mon, 10 to 5 pm
                Dec - Jan: Weekends, 10 - 5)
            </div>
            <div class="row">
                Yakima Cellars
                (Tues - Fri: 12 - 5pm
                Sat & Sun: 11am - 5pm, or by appt)
            </div>
        </div>
        <div class="col-sm-6 border-left" id="eastern-wineries">
            <h1 class="card-title text-center">Eastern Yakima</h1>
            <div class="row ">
                Alexandria Nicole Cellars
                (Tasting Room Open Daily: 11 - 5
                Tapas Café serves:
                Thurs - Sun, 11 a.m. - 4 p.m.)
            </div>
            <div class="row">
                Apex Cellars
                (Daily 10 - 6)
            </div>
            <div class="row">
                Bridgman
                (9 - 5 Daily)
            </div>
            <div class="row">
                Bunnell Family Cellar
                (Call to arrange a visit. 509-973-4187)
            </div>
            <div class="row">
                Chinook Wines
                (May - Oct, Sat & Sun 12 - 5)
            </div>
            <div class="row">
                Columbia Crest
                Horse Heaven Hills
                (Daily 10 - 4:30; closed major holidays)
            </div>
            <div class="row">
                Cowan Vineyards
                (Thur - Mon, 10 - 5)
            </div>
            <div class="row">
                Desert Wind Winery
                (Open Daily :
                Oct - Apr, 11 - 5 pm
                May - Sept, 10 - 5 pm)
            </div>
            <div class="row">
                Hinzerling Winery
                (March - Christmas, most holiday weekends:
                Mon. - Sat. 11am - 5pm, Sun. 11am - 4pm;
                Winter: Mon. - Sat. 11am - 5pm Closed Sun)
            </div>
            <div class="row">
                Hogue Cellars
                (Presidents’ Weekend through Dec 31st,
                - except major holidays, Daily 10 to 5.
                Call for Winter hours.)
            </div>
            <div class="row">
                Kestrel Wines
                (10am - 5pm daily)
            </div>
            <div class="row">
                Manchego Real
                (Daily 10 - 4, or by appointment)
            </div>
            <div class="row">
                Masquerade Wine Company
                (Wed - Sun: 11 AM to 5 PM)
                at The Winemaker's Loft
            </div>
            <div class="row">
                Michael Florentino
                (At the Winemaker's Loft.
                Open, Fri - Sun, 11 am to 6 pm)
            </div>
            <div class="row">
                Vintners Village
                Pontin del Roza
                (Daily 10am to 5pm)
            </div>
            <div class="row">
                Snoqualmie Vineyards
                (Daily 10:00 a.m. to 5:00 p.m.)
            </div>
            <div class="row">
                Steppe Cellars
                (April - Nov: Thurs - Mon, 10 - 5, Sat, 10 - 7)
            </div>
            <div class="row">
                Tefft Cellars
                (Daily 10am to 5pm,, except major holidays;
                January, by appointment)
            </div>
            <div class="row">
                Thurston Wolfe Winery
                (Thurs - Sun April 1st - 2nd weekend in Dec,
                Also Holiday Mondays - 11:00 am to 5:00 pm
                By appointment in Winter)
            </div>
            <div class="row">
                Vintners Village
                Tucker Cellars
                (Summer: daily 10am - 5pm;
                Winter: daily 10am - 4pm)
            </div>
            <div class="row">
                VineHeart
                (Thursday - Monday,  9 to 5)
            </div>
            <div class="row">
                Waddle Family Cellars
                (Sat - Sun, 10 - 5)
            </div>
            <div class="row">
                Willow Crest Winery
                (April's last weekend - Nov 30
                Daily: 10:00 a.m. to 5:00 p.m.)
                Vintners Village
            </div>
            <div class="row">
                The Winemaker's Loft
                (Fri - Sun, 11 am to 6 pm)
                Vintners Village
            </div>
            <div class="row">
                Yakima River Winery
                (Daily, 10am – 5pm
                Closed Thanksgiving, Christmas & New Years)
            </div>
        </div>
    </div>
</div>
</body>
</html>