/** home.html header styles8*/
#image1{
    max-width: 20%;
    height:auto;
    object-fit: scale-down;
    vertical-align: middle;

}
h1{
    font-family: Tenor Sans;
    text-shadow:1px 1px #0f0009;
    color:#e9a401;
}
/* Main header*/
#main-header{
    background-color:#460019;
    color: #0f0009; /*#e9a401;*/
}
/* Card Header */
#header1{
    width: 100%;
    background: hsla(0, 0%, 0%, 0.58);
}
/* Nav header*/
#nav-header{
    background: #460019;
}
/* layout for Yakima Valley winery historical information */
#historical-info{
    margin-top: 100px;
    margin-right:0;
}
/* Reservation Pick up*/
.pickup{
    color: #ffffff;
    text-shadow:2px 2px #0f0009;
}
/* Reservations */
.cup {
    list-style-image: url("http://ktruitt.greenriverdev.com/it328/newproject/images/16x16.png");
    padding-top:10px;
    margin-top:5px;
}
/* reservations */
label{
    color: #e9a401;
}
/* Reservations form header*/
#form-header{
    color: #e9a401;
}
.winery{
    color: #e9a401;
}

.winery-name{
    font-weight: bold;
    font-style: italic;
    color:#ffffff;
    text-shadow:2px 2px #0f0009;
}
/*#custom-form{*/
/*    display:none;*/
/*}*/
.err{
    color:#ffffff;
}
#summary{
    background-color:#ffffff;
}
/* reservations.html */
.table-style .today {
    background: #2A3F54; color: #ffffff;
}

/*.card-body{*/
/*    background-image:url("http://ktruitt.greenriverdev.com/it328/newproject/images/grapes-3550742_1280.jpg");*/
/*    background-position: center;*/
/*    background-size: 300px;*/
/*    background-repeat: space;*/
/*    background-blend-mode: soft-light;*/

/*}*/

.table-style th:nth-of-type(7),td:nth-of-type(7) {
    color: blue;
}
.table-style th:nth-of-type(1),td:nth-of-type(1) {
    color: red;
}
.table-style tr:first-child th{
    background-color:#F6F6F6;
    text-align:center; font-size: 15px;
}
#pending_orders,#no_pending
{
    color: white;
}